$font-size-txts: 28px;
$font-size-txtm: 16px;
$font-size-btxtl: 18px;
$font-size-titles: 20px;
$font-size-titlem: 22px;
$font-size-titlel: 22px;
$lg: 200px;
$fw-semibold: 600;
$color-gray-1: #fff;
$color-gray-12: #142738;
$color-font: red;
$main-color: red;
$main-color-light: red;